.containe{
    display: flex;
    border-bottom: 1px solid  lightgrey;
    border-left: 1px solid  lightgrey;
    border-right: 1px solid  lightgrey;
    justify-content: space-between;
    width:700px;
    border-radius: 0px 0px 2px 2px;
}
.main{
    padding-top: 20px;
}
.art {
    width: 700px;
    
}
.editp {
    border-top: 1px solid  lightgrey;
    border-left: 1px solid  lightgrey;
    border-right: 1px solid  lightgrey;
    width: 700px;
    position: relative;
}
#editProfile {
    width: 100px;
    margin: 10px;
    border: 1px solid #33c9dc;
    border-radius: 30px;
    
}