.article {
    padding-top: 10px;
    padding-bottom: 10px;
    word-spacing: 10px;
    /*border: 1px solid #33c9dc;*/
}


.gif {
    padding-left: 20px;
}


.card-img-top {
    width: 100%;
    height: 20vw;
    
}

@media (max-width: 768px) {
    #imageUrl {
        width: 20vh;
        border-radius: 50%;
        height: 15vh;
    }
    .homeGrid{
        padding: 2vh!important;
    }
    #imageU {
        margin-left: 50px;
        
    }
    .comment{
        font-size: 5vh;
    }
}

@media (max-width: 599px) {
    .profileOff{
        display: none;
    }
}

