.im {
    background-image: url("../images/image1.png");
}

@media (max-width: 768px) {
    #im{
        display: flex;
        width: 10px;
        height: 92vh;
        
    }
    .im{
        display: none;
    }
    
    .dashcontain {
    border: 5px solid red;

    width: 100px;
    height: 92vh;
    }
    
}

.contain {
    border: 5px solid #33c9dc;
    padding: 2000;  
    width: 120%;

}
#im{
    width: 100%;
}

.dashcontain {
    border: 5px solid #33c9dc;
    padding: 200;  
    width: 130%;
    height: 800px;

}


#form {
    position: center;
    padding-left: 50px;
    height: 300px;
    width: 300px;

}
#kr {
    color: #33c9dc;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) { 
     
    #im{
        width: 92vh;
        height: 92vh;
        
    }
    .contain {
        border: 5px solid #33c9dc;
        padding: 200;  
        width: 92vh;
        height: 92vh;
    
    }
    #fle{
        width: 100%;
      display: flex;
      color: red
    }  
}