body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen
and (min-width : 320px)
and (max-width : 480px) { 
    .dashcontain {
        border: 5px solid #33c9dc;
        padding: 200;  
        width: 110%;
        height: 92vh;
    
    } 
    .fle{
      display: flex;
      color: red
    }  
    body{
        overflow-x: hidden;
    }   

}
